body{
    font-size: 20px;
    color: white;
    text-shadow: 2px 9px 18px #100E10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(circle,violet,indigo,blue,green,rgb(255, 187, 0),orange,red,magenta);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease-in-out infinite;
	        animation: gradient 15s ease-in-out infinite;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
}

input{
    display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 93%;
  margin-bottom: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
button{
    background: #295ac2;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  font-size: 20px;
}
a{
    background:#295ac2;
  color: #fff;
  border: 1px solid #5d8ffc;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 95%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  margin: 5px 0;
  text-decoration: none;
  font-size: 20px;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}