/* Reset and Common Styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-heading {
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 6rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
  }
  /* End of Reset and Common Styles */
  
  /* Section 1 */
  .section-1 {
    width: 100%;
    height: 100vh;
    background: url(images/img1.jpg) center no-repeat;
    background-size: cover;
    object-fit: cover;
    flex-direction: column;
    animation: scale 10s;
    overflow-x: hidden;
  }
  
  @keyframes scale {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  #signOutbtn {
    position: absolute;
    top: 3rem;
    right: 10rem;
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(10, 35, 56);
    background-color: aliceblue;
    text-shadow: aliceblue;
    padding: 0.5rem 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
    cursor: pointer;
  }
  #logo img{
    position: absolute;
    top: 2rem;
    left: 5rem;
    z-index: 1;
    height: 8rem;
    width: 20rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
  }
  
  .section-1-heading {
    font-size: 7rem;
    font-weight: 700;
    color: aliceblue;
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-shadow: 0.2rem 0.2rem 1rem rgba(10, 35, 56);
    transform: skew(-10deg);
  }
  
  .discription {
    font-size: 4rem;
    color: aliceblue;
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.2rem;
    transform: skew(-10deg);
  }
  
  .section-1-btn {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(10, 35, 56);
    background-color: aliceblue;
    text-shadow: aliceblue;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
  }
  /* End of Section 1 */
  
  /* Navbar */
  .navbar {
    width: 100%;
    height: 6rem;
    background-color: rgb(2, 12, 20);
    box-shadow: 0.2rem 0.2rem 0.5rem aliceblue;
    position: absolute;
    z-index: 300;
  }
  
  .sticky {
    position: fixed;
    top: 0;
  }
  
  .navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(159, 207, 248);
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
  }
  
  .change.navbar-link {
    color: #fff;
  }
  
  .navbar-link:hover {
    color: #fff;
  }
  
  .navbar-link::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    right: -15%;
    bottom: -0.3rem;
    transition: width 0.2s;
  }
  
  .change.navbar-link::before {
    width: 130%;
  }
  
  .navbar-link:hover::before {
    width: 130%;
  }
  /* End of Navbar */
  
  /* Section 2 */
  
  .section-2 {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-2-heading {
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
  }
  
  .society-wrapper {
    width: 80%;
    flex-wrap: wrap;
  }
  
  .society {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5rem;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;
  }
  
  .society:hover {
    box-shadow: 1rem 1rem 1rem #777;
  }
  
  .society-text {
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    top: -10rem;
    z-index: 10;
    transition: top 0.3s;
  }
  
  .society:hover .society-text {
    top: 5rem;
    transition: top 0.3s 0.3s;
  }
  
  .society-name {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
  }
  
  .society-technologies {
    font-size: 1.8rem;
    color: red;
  }
  
  .society-img {
    width: 40rem;
    transition: opacity 0.3s;
  }
  
  .society:hover .society-img {
    opacity: 0.2;
  }
  
  .society-link {
    font-size: 2rem;
    font-weight: 500;
    color: black;
    letter-spacing: 0.1rem;
    border: 0.3rem solid red;
    padding: 0 1rem;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    transition: bottom 0.3s;
  }
  
  .society:hover .society-link {
    bottom: 5rem;
    transition: bottom 0.3s 0.3s;
  }
  /* End of Section 2 */
  
  /* Section 3 */
  .section-3 {
    width: 100%;
    height: 70vh;
    background-color: rgb(6, 20, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .section-3-heading {
    color: #fff;
    box-shadow: none;
    border-color: #fff;
    margin-bottom: 5rem;
  }
  
  .contact-form {
    width: 50rem;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: 0.2rem solid rgb(159, 207, 248);
    border-radius: 0.4rem;
    color: black;
  }
  
  .contact-form textarea {
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
  }
  
  .contact-form .contact-form-btn {
    background-color: rgb(159, 207, 248);
    color: black;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
  }
  /* End of Section 3 */
  
  /* Section 4 */
  .section-4 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
  }
  
  .social-media {
    margin-bottom: 5rem;
  }
  
  .social-media-link {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: #222;
    border-radius: 0.5rem;
    display: inline-block;
  }
  
  .social-media-link i {
    font-size: 3rem;
    color: #fff;
  }
  
  .copyright {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-align: center;
  }
  /* End of Section 4 */
  
  /* Responsive */
  @media (max-width: 1200px) {
    .services {
      height: auto;
      flex-wrap: wrap;
    }
  
    .service {
      margin: 3rem 2rem;
    }
  
    .section-4 {
      height: 80vh;
    }
  }
  
  @media (max-width: 800px) {
    .section-1-heading {
      font-size: 4rem;
    }
  
    .progress-bar {
      width: 50rem;
    }
  }
  
  @media (max-width: 600px) {
    .section-1-heading {
      font-size: 3rem;
    }
  
    .navbar-link {
      margin: 0 2rem;
      font-size: 1.5rem;
    }
  
    .progress-bar {
      width: 45rem;
    }
  
    .project-img {
      width: 100%;
    }
  
    .contact-form {
      width: 40rem;
    }
  
    .copyright {
      width: 70%;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 45%;
    }
  
    .section-1-heading {
      font-size: 2.5rem;
    }
  
    .navbar-link {
      margin: 0 1.5rem;
    }
  
    .progress-bar {
      width: 40rem;
    }
  }
  /* End of Responsive */